html,body{
    margin:0;
    height:100%;
    background:rgb(255, 255, 153);
}
header{
    color:rgb(255, 99, 71);
    font-size:260%;
    margin:1% 0 3% 3%;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    text-decoration: underline;
}
.main{
    display: flex;
    justify-content: center;
    background: rgba(255, 99, 71, 0.4);
    padding:2%;
}
.media{
    height:25%;
    width:30%;
    margin-right:2%;
}
video{
    width:100%;
}
@keyframes pic{
    from{transform:rotateY(0deg)}
    to{transform:rotateY(360deg)}
}
img{
    margin:10% 0 0 25%;
    height: 65%;
    width:55%;
    animation-name: pic;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.sound{
    display: flex;
    justify-content:center;
    height:37%;
}
.item2{
    width:30%;
    margin-right:2%;
}
.item3{
    padding-top:5%;
}
p{
    color:tomato;
    font-size:250%;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    text-align:center;
}