@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans&display=swap');
html,body{
    height: 100%;
    margin:0;
    background: #48b663;
}
*{
    font-family: 'Montserrat', sans-serif;
}
img{
    height: 250px;
    width: 170px; 
}
.card{
    transform: rotateY(180deg);
}
.wrapper{
    margin:1%;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.user, .computer{
    margin: 5% 10% 0 10.5%;
    font-size: 200%;
    color:yellow;
}
.result1, .result2{
    color: rgb(228, 68, 68);
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 1% 10% 0 10%;
    font-size: 500%;
}
button{
    margin:6% 3%;
    width:100px;
    height: 60px;
    color:#ffe54c;
    border-radius: 0.25rem;
    font-size: 150%;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 13px;
    outline: 0;
    border: 3px solid #ffe54c;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}
button:hover{
    content: "";
    background-color: #ffe54c;
    transition: 0.2s;
    color:black;
}
.showText{
    animation: text .2s forwards;
}
@keyframes text {
    0%{text-shadow:none;}
    100%{text-shadow:
        0 0 42px rgb(255, 255, 255),
        0 0 82px rgb(255, 255, 255),
        0 0 92px rgb(255, 255, 255),
        0 0 102px rgb(255, 255, 255),
        0 0 151px rgb(255, 255, 255);}
}
#resultMessage{
    text-align: center;
    font-size: 230%;
    margin-top:3%;
    color:yellow;
}
.last{
    display:flex;
    flex-direction: column;
    align-items: center;
}
