#text{
    font-size: 300%;
    font-family: 'Montserrat';
    font-weight: bold;
    color:brown;
    text-align: center;
}
#clock{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 300%;
    text-align: center;
}
