html,body{
    height:100%;
}
.main{
    margin-right:5%;
    width:12%;
    height:70%;
    background-color: black;
    padding:1%;
    border-radius:12%;
}
.circle{
    width:85%;
    height:30%;
    margin:4% 0 0 5%;
    border-radius: 50%;
    background-color: black;
}
@keyframes text{
    from{opacity:0;}
    to{opacity:1;color:white;}
}
@keyframes redA{
    from{background-color:grey;}
    to{background-color:red;}
}
.red_light{
    animation-duration: 1s;
    animation-name: redA;
    animation-delay:1s;
    background-color:grey;
}
.red_light_letters{
    animation-duration: 1s;
    animation-name: text;
    animation-delay:1s;
    font-size: 100px;
}
@keyframes yellowA{
    from{background-color:grey;}
    to{background-color:yellow;}
}
.yellow_light_letters{
    animation-duration: 1s;
    animation-name: text;
    animation-delay:2s;
    font-size: 100px;
}
.yellow_light{
    animation-duration: 1s;
    animation-name: yellowA;
    animation-delay:2s;
    background-color:grey;
}
@keyframes greenA{
    from{background-color:grey;}
    to{background-color:green;}
}
.green_light{
    animation-duration: 1s;
    animation-name: greenA;
    animation-delay:3s;
    animation-iteration-count: infinite;
    background-color:grey;
}
.green_light_letters{
    animation-duration: 1s;
    animation-name: text;
    animation-delay:3s;
    animation-iteration-count: infinite;
    font-size: 100px;
}
